<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
      {{ user }}<br/>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    <br/>
    <a href="/create.html">Create Question</a>
    <br/><br/>
    <b><h1>List Of Questions</h1></b>
    <div>
        {% for que in question %}
        <a href="/view.html?id={{ que.key.urlsafe() }}">
        <b> {{ que.content }} <b><br/>
        </a>
        <i>created by {{ que.author }}</i> <i>at {{ que.created }}</i><br/>
        Tags: <br/>
        {% for tag in que.tags %}
        {{ tag }},
        {% endfor %}
        <br/><br/>
        {% endfor %}
    </div>
    {% if cursor %}
    <a class="btn" href="?cursor={{cursor}}">more..</a>
    {% endif %}
    </body>
</html>
{% endautoescape %}