{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
    {{ user }}<br/>
    <a href="{{ url|safe }}">{{ url_linktext }}</a><br/>
    <a href="/">Home</a>
    <br/><br/>
    <b>Question</b><br/>
    {{ question.content }} <br/>
    <i>created at {{ question.created }}</i> <br/>
    <i>modified at {{ question.modified }}</i> <br/>
    Votes: {{ question.q_total_votes }} <br/>
    <a href="/edit_q.html?id={{ question.key.urlsafe() }}">Edit Question</a>
    <a href="/vote.html?id={{ question.key.urlsafe() }}">Vote Question</a>
    <hr/>
    <b>New Answer</b>
    <form role="form" method="post">
        <div>
            <textarea name="content" rows="5" cols="100"></textarea></div>
      <div><input type="submit" name="Submit"></div>
    </form>
    <hr/>
    <b>Answers</b>
    <div>
        {% for ans in answer %}
        {{ ans.content }} <br/>
        <i>by {{ ans.author }}</i><br/>
        <i>created at {{ ans.created }}</i><br/>
        <i>modified at {{ ans.modified }}</i><br/>
        Votes: {{ ans.a_total_votes }}<br/>
        <a href="/edit_a.html?id={{ ans.key.urlsafe() }}">Edit Answer</a>
        <a href="/vote.html?id={{ ans.key.urlsafe() }}">Vote Answer</a>
        <br/><br/>
        {% endfor %}
    </div>
    {% if cursor %}
    <a class="btn" href="?cursor={{cursor}}">more..</a>
    {% endif %}
    <hr/>
    <div>
            <b> Tags</b><br/>
                {% for tag in question.tags %}
                    {{ tag }} <br/>
                {% endfor %}
        </div>
  </body>
</html>
{% endautoescape %}